.img-home{
    margin: 10px 0 10px 0;
}

.img-home:hover{
    filter: contrast(50%);
    cursor: pointer;
    
}

.carousel-text{
    background: #000;
    color: #fff;
    margin: 0;
    padding: 2px 0;
    font-family: 'Open Sans', sans-serif;
}