.navbar{
    padding: 2rem;
    color: var(--bs-white);
    background: linear-gradient(to bottom, var(--bs-gray-800), var(--bs-gray-600));
}

.logoTienda{
    border-radius: 50%;
    width: 85px;
    box-shadow: 0px 0px 20px 0px var(--bs-gray-600);
}

.navbar-brand{
    padding-right: 20px;
}

.navbar-nav{
    color: var(--bs-white);
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
}

.nav-link{
    color: var(--bs-white) !important;
    border-radius: 20px;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.nav-link:hover{
    background: var(--bs-gray-600);
    border-radius: 20px;
    color: var(--bs-gray-800);
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

