.col-products{
    margin-bottom: 1.5rem;
}

@media screen and (max-width:575px) {
    .col-12{
        width: 350px !important;
        margin: auto;
        margin-bottom: 1.5rem;
    }
}


@media screen and (max-width:375px) {
    .col-12{
        width: 300px !important;
        margin: auto;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width:280px) {
    .col-12{
        width: 250px !important;
        margin: auto;
        margin-bottom: 1.5rem;
    }
}
